@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap');
$primaryColor: #242424;
$secondaryColor: #cacaca;
$hoverColor: #494949;
$white: #ffffff;
$black: #000000;
$red: #eb4c4c;
$section-light: #ffffff;
$section-dark: #1c222d;
$detail-dark: #2c313b;

body{
    margin: 0;
}

.sections{
    font-family: "Nunito Sans";
    .section-container{
        padding: 7em 2.5em;
        .page{
            display: flex;
            border: 1px solid $detail-dark;
            height: 3em;
            width: 3em;
            justify-content: center;
            align-items: center;
        }
    
        .title{
            font-size: 4em;
            font-weight: 900;
            line-height: 1em;
        }
    
        .subtitle{
            font-size: 1.2em;
            font-weight: 800;
            text-decoration: none;
            transition: 0.5s;
            color: $white;
            padding: 0em 0.2em;
            border-bottom: 2px solid $detail-dark;
        }
        .text{
            a{
                color: $white;
                font-weight: 800;
                text-decoration: none;
                transition: 0.5s;
            }

            a:hover{
                color: $section-dark;
                background-color: $white;
            }
        }
    
    }
}

.sections.dark{
    background-color: $section-dark;
    color: $white;
}
.sections.light{
    .title, .subtitle, .text{
        color: $black;
    }
}


//Rightbar
.right-bar{
    top: 1.5em;
    right: 1.5em;
    position: fixed;
    background-color: $black;
    color: $white;
    border-radius: 5em;
    z-index: 999;

    .profile{
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0em 0.5em;

        i{
            padding: 0 0.25em;
        }

        button{
            padding: 1em 0.5em;
            i{
                padding: 0 0.5em;
                transition: 0.5s; 
            }
        }

        button:hover{
            color: $white;
        }

        .username{
            font-family:"Nunito Sans";
            display: none;
        }

        .profile-expand{
            color: $secondaryColor;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

//Profile-Info
    .profile-info.active{
        visibility: visible;
        opacity: 1;
        height: 9.7em;
    }

.profile-info{
    position: fixed;
    padding: 0.2em;
    top: 5em;
    right: 2em;
    border-radius: 0.5em;
    width: 12em;
    background-color: $black;
    visibility: hidden;
    opacity: 0;
    height: 0em;
    overflow-y: hidden;
    z-index: 999;
    transition: 0.2s;

    ul{
        padding: 0.1em;
        margin: 0;

        .line{
            position: relative;
            background-color: $secondaryColor;
            height: 1px;
            width: 95%;
            left: 0.25em;
        }

        li{
            list-style: none;
            padding: 0.5em 0.2em;
            cursor: pointer;
            transition: 0.2s;
            a{
                display: flex;
                padding-left: 0.5em;
                text-align: left;
                text-decoration: none;
                color: $white;
                font-family:"Nunito Sans";
            }

            .signout-btn{
                 color: $red;
            }
        }

        li:hover{
            background-color: $hoverColor;
            border-radius: 0.2em;
        }
    }
}



//DESKTOP
@media screen and (min-width:1300px) {

.sections{
    font-family: "Nunito Sans";
    .section-container{
        padding: 10em 25em;
        .page{
            display: flex;
            border: 1px solid $detail-dark;
            height: 3em;
            width: 3em;
            justify-content: center;
            align-items: center;
        }
    
        .title{
            font-size: 4em;
            font-weight: 900;
            line-height: 1em;
        }
    
        .subtitle{
            font-size: 1.2em;
            font-weight: 800;
        }
    
        .text{
        }
        
        .section-dark{
            color: $white;
            background-color: $section-dark;
        }
        
        .section-light{
            background-color: $section-light;
        }
    }
}


//Rightbar
.right-bar{
    top: 1.5em;
    right: 1.5em;
    position: fixed;
    background-color: $black;
    color: $white;
    border-radius: 5em;
    z-index: 999;

    .profile{
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0em 0.5em;

        i{
            padding: 0 0.25em;
        }

        button{
            padding: 1em 0.5em;
            i{
                padding: 0 0.5em;
                transition: 0.5s; 
            }
        }

        button:hover{
            color: $white;
        }

        .username{
            font-family:"Nunito Sans";
            display: flex;
        }

        .profile-expand{
            color: $secondaryColor;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

//Profile-Info
    .profile-info.active{
        visibility: visible;
        opacity: 1;
        height: 9.7em;
    }

.profile-info{
    position: fixed;
    padding: 0.2em;
    top: 5.7em;
    right: 2em;
    border-radius: 0.5em;
    width: 12em;
    background-color: $black;
    visibility: hidden;
    opacity: 0;
    height: 0em;
    overflow-y: hidden;
    z-index: 999;
    transition: 0.2s;

    ul{
        padding: 0.1em;
        margin: 0;

        .line{
            position: relative;
            background-color: $secondaryColor;
            height: 1px;
            width: 95%;
            left: 0.25em;
        }

        li{
            list-style: none;
            padding: 0.5em 0.2em;
            cursor: pointer;
            transition: 0.2s;
            a{
                display: flex;
                padding-left: 0.5em;
                text-align: left;
                text-decoration: none;
                color: $white;
                font-family:"Nunito Sans";
            }

            .signout-btn{
                 color: $red;
            }
        }

        li:hover{
            background-color: $hoverColor;
            border-radius: 0.2em;
        }
    }
}

}
