@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;800&display=swap');
$white: #ffffff;
$black: #000000;
$section-light: #ffffff;
$section-dark: #1c222d;
$detail-dark: #2c313b;
$red: #c94040;

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    overflow-x: hidden;
}

.sections{
    font-family: "Nunito Sans";
    .section-container{
        padding: 7em 2.5em;
        .page{
            display: flex;
            border: 1px solid $detail-dark;
            height: 3em;
            width: 3em;
            justify-content: center;
            align-items: center;
        }
    
        .title{
            font-size: 4em;
            font-weight: 900;
            line-height: 1em;
        }
    
        .subtitle{
            font-size: 1.2em;
            font-weight: 800;
            text-decoration: none;
            transition: 0.5s;
            color: $white;
            padding: 0em 0.2em;
            border-bottom: 2px solid $detail-dark;
            width: 200px;
            position: relative;
        }
        .text{
            a{
                color: $white;
                font-weight: 800;
                text-decoration: none;
                transition: 0.5s;
            }

            a:hover{
                color: $section-dark;
                background-color: $white;
            }
        }
    }
    img{
        position: absolute;
        height: 20em;
        right: -3em;
        top: 25em;
        z-index: -1;
    }
}

.sections.dark{
    background-color: $section-dark;
    color: $white;
}
.sections.light{
    .title, .subtitle, .text{
        color: $black;
    }
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s;
}

.reveal.r-active{
    transform: translateY(0px);
    opacity: 1;
}


//Rightbar
.right-bar{
    top: 1.5em;
    right: 1.5em;
    position: fixed;
    background-color: $section-dark;
    color: $white;
    border-radius: 5em;
    z-index: 999;
    border: 1px solid $detail-dark;

    .profile{
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0em 0.5em;

        i{
            padding: 0 0.25em;
        }

        button{
            padding: 1em 0.5em;
            i{
                padding: 0 0.5em;
                transition: 0.5s; 
            }
        }

        button:hover{
            color: $white;
        }

        .username{
            font-family:"Nunito Sans";
            display: none;
        }

        .profile-expand{
            color: $detail-dark;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

//Profile-Info
    .profile-info.active{
        visibility: visible;
        opacity: 1;
        height: 9.7em;
    }

.profile-info{
    position: fixed;
    padding: 0.2em;
    top: 5em;
    right: 2em;
    border-radius: 0.5em;
    border: 1px solid $detail-dark;
    width: 12em;
    background-color: $section-dark;
    visibility: hidden;
    opacity: 0;
    height: 0em;
    overflow-y: hidden;
    z-index: 999;
    transition: 0.2s;

    ul{
        padding: 0.1em;
        margin: 0;

        .line{
            position: relative;
            background-color: $detail-dark;;
            height: 1px;
            width: 95%;
            left: 0.25em;
        }

        li{
            list-style: none;
            padding: 0.5em 0.2em;
            cursor: pointer;
            transition: 0.2s;
            a{
                display: flex;
                padding-left: 0.5em;
                text-align: left;
                text-decoration: none;
                color: $white;
                font-family:"Nunito Sans";
            }

            .signout-btn{
                 color: $red;
            }
        }

        li:hover{
            background-color: $detail-dark;
            border-radius: 0.2em;
        }
    }
}


.section-nav{
    position: fixed;
    top: 40%;
    right: 0em;
    font-family: "Nunito Sans";
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border: 1px solid $detail-dark;
    overflow: hidden;
    opacity: 0.5;
    transition: 0.5s;
    z-index: 999;

    a{
        text-decoration: none;
        display: flex;
        color: $white;
        background-color: $section-dark;
        border-top: 1px solid $detail-dark;
        height: 3em;
        width: 3em;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    a:hover{
        background-color: $detail-dark;
    }

    a.active{
        background-color: $detail-dark;
    }
}

.section-nav:hover{
    opacity: 1;
}



//DESKTOP
@media screen and (min-width:1100px) {

.sections{
    font-family: "Nunito Sans";
    display: flex;
    .section-container{
        justify-content: space-between;
        padding: 10em 25em;
        .page{
            display: flex;
            border: 1px solid $detail-dark;
            height: 3em;
            width: 3em;
            justify-content: center;
            align-items: center;
        }
    
        .title{
            font-size: 4em;
            font-weight: 900;
            line-height: 1em;
        }
    
        .subtitle{
            font-size: 1.2em;
            font-weight: 800;
        }
        
        .section-dark{
            color: $white;
            background-color: $section-dark;
        }
        
        .section-light{
            background-color: $section-light;
        }
    }
    img{
        float: left;
        position: relative;
        top: 10em;
        right: 20em;
        height: 30em;
    }
}


//Rightbar
.right-bar{
    top: 1.5em;
    right: 1.5em;
    position: fixed;
    color: $white;
    border-radius: 5em;
    z-index: 999;

    .profile{
        overflow: hidden;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0em 0.5em;

        i{
            padding: 0 0.25em;
        }

        button{
            padding: 1em 0.5em;
            i{
                padding: 0 0.5em;
                transition: 0.5s; 
            }
        }

        button:hover{
            color: $white;
        }

        .username{
            font-family:"Nunito Sans";
            display: flex;
        }

        .profile-expand{
            color: $detail-dark;
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

//Profile-Info
    .profile-info.active{
        visibility: visible;
        opacity: 1;
        height: 9.7em;
    }

.profile-info{
    position: fixed;
    padding: 0.2em;
    top: 5.7em;
    right: 2em;
    border-radius: 0.5em;
    width: 12em;
    visibility: hidden;
    opacity: 0;
    height: 0em;
    overflow-y: hidden;
    z-index: 999;
    transition: 0.2s;

    ul{
        padding: 0.1em;
        margin: 0;

        .line{
            position: relative;
            height: 1px;
            width: 95%;
            left: 0.25em;
        }

        li{
            list-style: none;
            padding: 0.5em 0.2em;
            cursor: pointer;
            transition: 0.2s;
            a{
                display: flex;
                padding-left: 0.5em;
                text-align: left;
                text-decoration: none;
                color: $white;
                font-family:"Nunito Sans";
            }

            .signout-btn{
                 color: $red;
            }
        }

        li:hover{
            border-radius: 0.2em;
        }
    }
}

}
